<header class='header'><h2 class="header__name">Medical Adva</h2> 

    <h3 class="header__greetings">Hello, Welcome 🎉</h3>
<h2 class = 'header__appointment-heading'>Make appointment easily</h2>
<button class="header__btn-make-visit">Створити візит</button>
<form class="header__form form">
    <p class="form__paragraph-choose-doctor">Оберіть лікаря:</p>
    <select class="form__selector-doctors">
        <option style="display:none" selected></option>
        <option class="form__selector-option" value="Терапевт">Терапевт</option>
        <option class="form__selector-option" value="Кардіолог">Кардіолог</option>
        <option class="form__selector-option" value="Стоматолог">Стоматолог</option>
    </select>
    <p class="form__paragraph-purpose">Мета:</p>
    <input placeholder="Введіть ціль вішого візиту" class="form__purpose">
    <p placeholder="Введіть ціль візиту" class="form__paragraph-description">Опис:</p>
    <input class="form__description" placeholder="Введіть додаткові відомості щодо візиту" >
    <p class="form__paragraph-urgency">Терміновість візиту</p>
    <select placeholder="Оберіть терміновість візиту" class="form__selector-urgency">
        <option style="display:none" selected></option>
        <option value="Висока">Висока</option>
        <option value="Нормальна">Нормальна</option>
        <option value="Низька">Низька</option>
    </select>
    <p class="form__paragraph-name" >ПІБ:</p>
    <input placeholder="Введіть своє прізвище, ім'я та по батькові" class="form__patient-name">
    <p class="form__paragraph-last-visit">Дата останього візиту:</p>
    <input placeholder="Ви не вказали дату" class="form__last-visit" type="date">
    <p class="form__paragraph-age">Вік:</p>
    <input  placeholder="Введіть повний вік" class="form__age">
    <p class="form__paragraph-pulse">Тиск:</p>
    <input placeholder="Введіть свій тиск у нормальному стані" class="form__pulse">
    <p class="form__paragraph-mass-index">Маса тіла:</p>
    <input placeholder="Введіть свою масу тіла" class="form__mass-index">
    <p class="form__paragraph-past-diseases">Захворювання серцево-судинної системи</p>
    <input placeholder="Введіть інформацію щодо перенесинних захворювань серцево-судинної системи" class="form__past-diseases">
    <p class="form__paragraph-comment">Введіть коментарій лікарю, якщо бажаєте:</p>
    <input placeholder="Введіть коментарій" class="form__comment">
    <p class="form__error">Всі поля повинні буди заповнині</p>
    <button class="form__button-close-form">Закрити</button>
    <button class = 'form__button-create-visit'>Створити візит</button>
</form>
</header>