#createModal,
#create__inputName,
#create__inputPurpose,
#create__inputAge,
#create__inputPressure,
#create__inputBMI,
#create__inputDescription,
#create__inputDisease,
#create__inputLastVisit,
#create__selectPriority,
#create__inputComment{
    display: none;
    width: 100%;
}

// .form__description{
//     width: fill-available;
// }

.header {
    &__form{
        width: 400px;
        display: none;
        flex-direction: column;
        gap: 10px;
        border-radius: 50px;
        position: relative;
    }
}
.form{
    &__error{
        color: red;
        font-size: 15px;
    }
    &__error{
        display: none;
    }

    &__button-create-visit{
        display: none;
    }
}
