main{
display: flex;
flex-wrap: wrap;
padding-bottom: 5%;
}


.card{
    margin-top: 3%;
    width: 300px;
    gap: 15px;
    margin-left: 2%;
    border: 3px solid rgb(241, 19, 19);
    border-radius: 10px;
    position: relative;
    &__delete-card {
        position: absolute;
        top: 8px;
        right: 15px;
        width: 24px;
        height: 24px;
        opacity: 0.2;
        cursor: pointer;
      transition: opacity ease 0.5s;
    }
    &__btn-more-info{
        width: 100%;
        height: 50px;
        border: 3px solid rgb(32, 155, 108);
        border-radius: 10px;
        background-color: rgb(32, 155, 108);
        color: white;
        font-weight: 500;
        display: inline-block;
        &:hover{
            border: 3px solid rgb(32, 155, 108);
            background-color: white;
          color:  rgb(32, 155, 108);
            transition: 0.3s background-color ease;
        }
    }
}
.card__delete-card:hover {
    opacity: 1;
}
 .card__delete-card::before, .card__delete-card::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.card__delete-card::before {
    transform: rotate(45deg);
}

.card__delete-card::after {
    transform: rotate(-45deg);
}
