
@import '../scss/header.scss';
@import '../scss/main.scss';
*{
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Inter', sans-serif;
  color: #011312;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


